.recA{
    background-color: #072F44;
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 15px;
    transition: 2s all;
    
}

.recB{
    text-align: center;
    color: #084577;
    font-weight: 500;
    padding: 15px;
    background-color: #F2F2F2F2;
}
.recC{
    background-color: #084577;
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 15px;
}
.recD{
    background-color: #0A5574;
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 15px;
}
.recF{
    background-color: #084577;
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 15px;
}
.recG{
    background-color: #072F44;
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 15px;
}
.recH{
    padding: 15px;
    background-color: #0A5574;
    height: 300px;
    text-align: center;
    font-weight: 500;
    color: white;
}
.recuadros{
    padding: 40px;
}
.hu{
    padding-top: 50px;
    border-bottom: 3px solid #0A5574;

}
.he{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    padding-bottom: 15px;
}
.tratamiento{
    text-align: center;
    display: flex;
    justify-content: center;
}
@media (max-width: 394px) {
    .recuadros{
        padding: 0;
    }

}